* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.musicBox {
    width: 25%;
    height: 85%;
    border-radius: 2%;
    background-color: lightpink; /* lightblue color */
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(115, 51, 112, 0.22);
}

.arrow-back,
.menu,
#btn-back,
#btn-center,
#btn-forward {
    width: 13.5%;
    height: 10%;
    cursor: pointer;
    justify-content: space-between;
    border: none;
    border-radius: 50%;
    background-color: white;
    margin: 5%;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}

.menu {
    margin-left: 50%;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}

.image img {
    border-radius: 50%;
    border: 4px solid white;
    width: 35%;
    box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.musicBox h3 {
    margin-top: 25px;
    font-size: 18px;
    color: #555;
}

.musicBox p {
    color: #777;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-back,
#btn-forward {
    width: 13%;
    height: 8vh;
    margin-right: 25px;
}

#btn-center {
    width: 20%;
    height: 12vh;
    color: white;
    margin-right: 25px;
    background-color: #dc2b95; /* rgb(220, 43, 149) color */
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-center i {
    font-size: 22px;
}

#range{
    width: 100%;
    height: 7px;
    margin: 25px 0;
}
input[type="range"] {
    -webkit-appearance: none;    
    background-color: white; /* Replace with your desired color */
    height: 5px; /* Set the height for the track */
    border-radius: 2px; /* Set border-radius for rounded edges */
    outline: none; /* Remove default focus outline */
    width: 100%; /* Set width to fill the container */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #dc2b95; /* Replace with your desired color */
    width: 16px; /* Set the width for the thumb */
    height: 16px; /* Set the height for the thumb */
    border-radius: 50%;
    cursor: pointer;
   
}

/* Apply these styles to your existing CSS or create a new stylesheet */

/* Style the container of the audio controls */

/* Style other audio controls as needed (e.g., mute, time display, etc.) */
